*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*font*/
html{
    font-family: "Poppins", sans-serif;
    background-color: rgb(234, 251, 255);
}

/*layout*/
.container{
    max-width: 1024px;
    vertical-align: middle;
    font-size: 70px;
}

.main-header{
    background-color: white;
    padding: 10px;
    margin-bottom: 50px;
}

.title{
    font-size: 70px;
}
/*main*/

.container-main{
   background-color: white;
   margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 30px;
   max-width: 700px;
   margin-bottom: 5px;
}

.text-add{
    font-size: 15px;
    margin: 20px;
}

.text-add.task{
    background-color: rgb(73, 182, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
}

.text-add.section{
    background-color: white;
    color: rgb(221, 221, 221);
    border: solid;
    border-color: rgb(221, 221, 221);
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px;
}

/*list*/

.container-list{
    background-color: white;
    margin: 0 auto;
    padding-left: 30px;
    max-width: 700px;
    padding-top: 20px;
    padding: 20px;
}

ul{
    padding-left: 30px;
    list-style: none;
}

li{
    margin-bottom: 20px;
}
strong{
    font-size: 20px;
    font-weight: bolder;
}

.text-span-blue{
    background-color: rgb(73, 182, 255);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 5px;
}

.text-span-violet{
    background-color: rgb(127, 16, 218);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 5px;
}

.text-span-green{
    background-color: rgb(13, 148, 65);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 5px;
}

.text-span-pink{
    background-color: rgb(224, 118, 207);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 5px;
}

.text-span-lightgreen{
    background-color: rgb(114, 253, 96);
    color: white;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 5px;
}

.title-li{
    margin-bottom: 10px;
}
